body{
    background-image: url('../images/kot.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description{
    position: absolute;
    margin: auto;
    padding: 5em;
}
.description h1{
    color: rgba(0, 0, 0, 0.5) ;
}
.description p{
    color: #000000;
    font-size: 20px;
}
.description button{
    border:1px solid #000000;
    background: rgba(0, 0, 0, 0.3);
    color: #000000;
}

.description h3{
    color: #000000;
}